apiVersion: apps/v1
kind: Deployment
metadata:
  name: webserver
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      containers:
      - image: hashicorp/http-echo
        name: guestbook-ui
        ports:
        - containerPort: 5678
          name: http
          protocol: TCP
        env:
        - name: ECHO_TEXT
          value: Hello World!

